.game-toolbar-actions-wrapper {
	border-top: @board-border;
}
.game-toolbar-list {
	height: 350px;
	border-bottom: @board-border;
}
.game-toolbar-castles {
	float: right;
}
.game-toolbar-heroes {
	float: left;
}
.game-toolbar-actions {
	overflow: hidden;
}